<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="com.jnj.innovation.c2c.dao.HistoryMapper">

    <!-- resultMap标签:映射实体与表
         type属性：表示实体全路径名
         id属性：为实体与表的映射取一个任意的唯一的名字
    -->
    <resultMap type="com.jnj.innovation.c2c.model.History" id="historyMap">
        <!-- id标签:映射主键属性
             result标签：映射非主键属性
             property属性:实体的属性名
             column属性：表的字段名
        -->
        <id property="name" column="name"/>
        <result property="result" column="result"/>
        <result property="comment" column="comment"/>
        <result property="createtime" column="createtime"/>
    </resultMap>
    <insert id="insert" parameterType="com.jnj.innovation.c2c.model.History">
        insert into history (name,result,comment,createtime
        )
        values (#{name,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR},
        #{createtime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="selectAll" resultMap="historyMap">
        select
        *
        from history order by createtime desc
    </select>

    <select id="getHistoryByFileName" resultType="com.jnj.innovation.c2c.model.History">
        select
        *
        from history where name = #{fileName}
    </select>


</mapper>

