<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="dao.Mapper">

    <select id="isTableExist" resultType="int">
        SELECT COUNT(*) from information_schema.TABLES where table_name = #{tableName}
    </select>

    <update id="deleteTable">
        DROP TABLE ${tableName}
    </update>

    <update id="createTable">
        CREATE TABLE `${newTableName}` (
        <foreach item="item" index="index" collection="columns" open="" separator="," close=",">
            `${item.code}`
            <choose>
                <when test="item.type=='varchar'">
                    varchar(255) DEFAULT NULL
                </when>
                <otherwise>
                    ${item.type} DEFAULT NULL
                </otherwise>
            </choose>
        </foreach>
        `id` bigint(21) PRIMARY KEY NOT NULL AUTO_INCREMENT
        )ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8;
    </update>

    <insert id="addCompensation" parameterType="entity.excelEntity.Compensation" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO compensation
        (wwid,bonus2016,bonus2017,bonus2018,base2017,base2018,base2019)
        VALUES
        (#{wwid},#{bonus2016},#{bonus2017},#{bonus2018},#{base2017},#{base2018},#{base2019})
    </insert>

    <insert id="addDirectReport" parameterType="entity.excelEntity.DirectReport" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO direct_report
        (wwid, direct_report)
        VALUES
        (#{wwid},#{direct_report})
    </insert>

<!--    <insert id="addEducation" parameterType="entity.excelEntity.Education" useGeneratedKeys="true" keyProperty="id">-->
<!--        INSERT INTO education-->
<!--        (wwid, highest_degree_received)-->
<!--        VALUES-->
<!--        (#{wwid},#{highest_degree_received})-->
<!--    </insert>-->

    <insert id="addEmployeeDemographics" parameterType="entity.excelEntity.EmployeeDemographics" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee_demographics
        (wwid, employee_pay_grade,home_location_code,position_id,job_profile,job_profile_id,job_function,job_sub_function,sector,time_in_position,length_of_service_in_years,original_hire_date,hire_date_most_recent)
        VALUES
        (#{wwid}, #{employee_pay_grade},#{home_location_code},#{position_id},#{job_profile},#{job_profile_id},#{job_function},#{job_sub_function},#{sector},#{time_in_position},#{length_of_service_in_years},#{original_hire_date},#{hire_date_most_recent})
    </insert>

    <insert id="addManagementChain" parameterType="entity.excelEntity.ManagementChain" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO management_chain
        (wwid, management_chain_level_01,management_chain_level_02,management_chain_level_03,management_chain_level_04,management_chain_level_05,management_chain_level_06,management_chain_level_07,management_chain_level_08,management_chain_level_09,hierarchy_count)
        VALUES
        (#{wwid}, #{management_chain_level_01},#{management_chain_level_02},#{management_chain_level_03},#{management_chain_level_04},#{management_chain_level_05},#{management_chain_level_06},#{management_chain_level_07},#{management_chain_level_08},#{management_chain_level_09},#{hierarchy_count})
    </insert>

    <insert id="addPerformanceRatingFixed" parameterType="entity.excelEntity.fixed.PerformanceRatingFixed" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO performance_rating_fixed
        (wwid, overall_rating2016, overall_rating2017, overall_rating2018)
        VALUES
        (#{wwid}, #{overall_rating2016}, #{overall_rating2017}, #{overall_rating2018})
    </insert>

    <insert id="addTalentCard" parameterType="entity.excelEntity.TalentCard" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO talent_card
        (wwid,jnj_role_number,external_role_number,total_role_number,average_duration_of_jnj_role,average_duration_of_external_role,total_working_years,external_length_of_service,average_duration_of_each_role )
        VALUES
        (#{wwid},#{jnj_role_number},#{external_role_number},#{total_role_number},#{average_duration_of_jnj_role},#{average_duration_of_external_role},#{total_working_years},#{external_length_of_service},#{average_duration_of_each_role} )
    </insert>

    <insert id="addUnstructuredData" parameterType="entity.excelEntity.UnstructuredData" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO unstructured_data
        (wwid, performance_comments2018,stakeholder_feedback)
        VALUES
        (#{wwid}, #{performance_comments2018},#{stakeholder_feedback})
    </insert>

    <insert id="addWorkerChangeHistoryFixed" parameterType="entity.excelEntity.fixed.WorkerChangeHistoryFixed" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO worker_change_history_fixed
        (wwid,function_movements,lateral_movements,promotions,region_movements,country_movements,sector_movements)
        VALUES
        (#{wwid}, #{function_movements}, #{lateral_movements}, #{promotions}, #{region_movements}, #{country_movements}, #{sector_movements})
    </insert>

    <insert id="addDigitalExperiences" parameterType="entity.excelEntity.DigitalExperiences" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO digital_experiences
        (wwid, customer_journey, data_analytics, innovation, digital_leadership, digital_commerce, digital_products, operational_efficiency, overall_digital_experience_percentile)
        VALUES
        (#{wwid},#{customer_journey},#{data_analytics},#{innovation},#{digital_leadership},#{digital_commerce},#{digital_products},#{operational_efficiency},#{overall_digital_experience_percentile})
    </insert>

<!--Experiences-->
    <select id="getAllDExperiences" resultType="entity.dimensionRawData.DExperiences">
        SELECT compet.wwid,
        ed.employee_pay_grade, ed.job_function, ed.sector, ed.length_of_service_in_years,
        p.overall_rating2016, p.overall_rating2017, p.overall_rating2018,
        compen.bonus2016,compen.bonus2017,compen.bonus2018,compen.base2017,compen.base2018,compen.base2019,
        w.function_movements, w.lateral_movements, w.promotions, w.region_movements, w.country_movements, w.sector_movements,
        d.direct_report,
        mc.hierarchy_count,
        t.jnj_role_number, t.external_role_number, t.total_role_number, t.average_duration_of_jnj_role, t.average_duration_of_external_role, t.total_working_years, t.external_length_of_service, t.average_duration_of_each_role,
        un.performance_comments2018, un.stakeholder_feedback,
        de.customer_journey, de.data_analytics, de.innovation, de.digital_leadership, de.digital_commerce, de.digital_products, de.operational_efficiency, de.overall_digital_experience_percentile
        FROM competencies compet
        LEFT JOIN employee_demographics ed ON compet.wwid = ed.wwid
        LEFT JOIN performance_rating_fixed p ON compet.wwid = p.wwid
        LEFT JOIN compensation compen ON compet.wwid = compen.wwid
        LEFT JOIN worker_change_history_fixed w ON compet.wwid = w.wwid
        LEFT JOIN direct_report d ON compet.wwid = d.wwid
        LEFT JOIN management_chain mc ON compet.wwid = mc.wwid
        LEFT JOIN talent_card t ON compet.wwid = t.wwid
        LEFT JOIN unstructured_data un ON compet.wwid = un.wwid
        LEFT JOIN digital_experiences de ON compet.wwid = de.wwid;
    </select>

    <insert id="addDExperiences" parameterType="entity.dimensionRawData.DExperiences" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO experiences
        (wwid,employee_pay_grade,job_function,sector,length_of_service_in_years,overall_rating2016,overall_rating2017,overall_rating2018,bonus2016,bonus2017,bonus2018,base2017,base2018,base2019,function_movements,lateral_movements,promotions,region_movements,country_movements,sector_movements,direct_report,hierarchy_count, customer_journey, data_analytics, innovation, digital_leadership, digital_commerce, digital_products, operational_efficiency, overall_digital_experience_percentile,jnj_role_number,external_role_number,total_role_number,average_duration_of_jnj_role,average_duration_of_external_role,total_working_years,external_length_of_service,average_duration_of_each_role,performance_comments2018,stakeholder_feedback )
        VALUES
        (#{wwid},#{employee_pay_grade},#{job_function},#{sector},#{length_of_service_in_years},#{overall_rating2016},#{overall_rating2017},#{overall_rating2018},#{bonus2016},#{bonus2017},#{bonus2018},#{base2017},#{base2018},#{base2019},#{function_movements},#{lateral_movements},#{promotions},#{region_movements},#{country_movements},#{sector_movements},#{direct_report},#{hierarchy_count},#{customer_journey},#{data_analytics},#{innovation},#{digital_leadership},#{digital_commerce},#{digital_products},#{operational_efficiency},#{overall_digital_experience_percentile},#{jnj_role_number},#{external_role_number},#{total_role_number},#{average_duration_of_jnj_role},#{average_duration_of_external_role},#{total_working_years},#{external_length_of_service},#{average_duration_of_each_role},#{performance_comments2018},#{stakeholder_feedback} )
    </insert>

    <insert id="addDExperiencesScored" parameterType="entity.dimensionScored.DExperiencesScored" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO d_experiences_scored
        (wwid, employee_pay_grade, job_function, sector, length_of_service_in_years, overall_rating2016, overall_rating2017, overall_rating2018, performance_rating2016, performance_rating2017, performance_rating2018, bonus_increment20162017, bonus_increment20172018, base_increment20172018, base_increment20182019, function_movements, lateral_movements, promotions, region_movements, country_movements, sector_movements, direct_report, hierarchy_count, external_role_number, external_length_of_service, total_role_number_ranking, total_working_years_ranking, average_duration_of_each_role_ranking, customer_journey, data_analytics, innovation, digital_leadership, digital_commerce, digital_products, operational_efficiency, performance_comments2018, stakeholder_feedback, data_completeness, result)
        VALUES
        (#{wwid}, #{employee_pay_grade}, #{job_function}, #{sector}, #{length_of_service_in_years}, #{overall_rating2016}, #{overall_rating2017}, #{overall_rating2018}, #{performance_rating2016}, #{performance_rating2017}, #{performance_rating2018}, #{bonus_increment20162017}, #{bonus_increment20172018}, #{base_increment20172018}, #{base_increment20182019}, #{function_movements}, #{lateral_movements}, #{promotions}, #{region_movements}, #{country_movements}, #{sector_movements}, #{direct_report}, #{hierarchy_count}, #{external_role_number}, #{external_length_of_service}, #{total_role_number_ranking}, #{total_working_years_ranking}, #{average_duration_of_each_role_ranking}, #{customer_journey}, #{data_analytics}, #{innovation}, #{digital_leadership}, #{digital_commerce}, #{digital_products}, #{operational_efficiency}, #{performance_comments2018}, #{stakeholder_feedback}, #{data_completeness}, #{result})
    </insert>




<!--Experiences-->


<!--KF4D-->
    <insert id="addCompetencies" parameterType="entity.excelEntity.Competencies" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO competencies
        (wwid,action_oriented,balances_stakeholders,being_resilient,builds_effective_teams,builds_networks,collaborates,communicates_effectively,courage,cultivates_innovation,customer_focus,decision_quality,develops_talent,directs_work,drives_engagement,drives_results,ensures_accountability,global_perspective,instills_trust,interpersonal_savvy,manages_ambiguity,manages_conflict,nimble_learning,optimizes_work_processes,persuades,plans_and_aligns,resourcefulness,self_development,situational_adaptability,strategic_mindset,values_differences)
        VALUES
        (#{wwid},#{action_oriented},#{balances_stakeholders},#{being_resilient},#{builds_effective_teams},#{builds_networks},#{collaborates},#{communicates_effectively},#{courage},#{cultivates_innovation},#{customer_focus},#{decision_quality},#{develops_talent},#{directs_work},#{drives_engagement},#{drives_results},#{ensures_accountability},#{global_perspective},#{instills_trust},#{interpersonal_savvy},#{manages_ambiguity},#{manages_conflict},#{nimble_learning},#{optimizes_work_processes},#{persuades},#{plans_and_aligns},#{resourcefulness},#{self_development},#{situational_adaptability},#{strategic_mindset},#{values_differences})
    </insert>

    <insert id="addDrivers" parameterType="entity.excelEntity.Drivers" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO drivers
        (wwid, balance,challenge,collaboration,independence,power,structure)
        VALUES
        (#{wwid},#{balance},#{challenge},#{collaboration},#{independence},#{power},#{structure})
    </insert>

    <insert id="addTraits" parameterType="entity.excelEntity.Traits" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO traits
        (wwid, adaptability,affiliation,assertiveness,composure,confidence,credibility,curiosity,empathy,focus,humility,influence,need_for_achievement,openness_to_differences,optimism,persistence,risk_taking,situational_self_awareness,sociability,tolerance_of_ambiguity,trust)
        VALUES
        (#{wwid}, #{adaptability}, #{affiliation}, #{assertiveness}, #{composure}, #{confidence}, #{credibility}, #{curiosity}, #{empathy}, #{focus}, #{humility}, #{influence}, #{need_for_achievement}, #{openness_to_differences}, #{optimism}, #{persistence}, #{risk_taking}, #{situational_self_awareness}, #{sociability}, #{tolerance_of_ambiguity}, #{trust})
    </insert>

    <select id="getAllCompetencies" resultType="entity.excelEntity.Competencies">
        SELECT * FROM competencies
    </select>

    <insert id="addDCompetenciesScored" parameterType="entity.dimensionScored.DCompetenciesScored" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO d_competencies_scored
        (wwid, action_oriented, balances_stakeholders, being_resilient, builds_effective_teams, builds_networks, collaborates, communicates_effectively, courage, cultivates_innovation, customer_focus, decision_quality, develops_talent, directs_work, drives_engagement, drives_results, ensures_accountability, global_perspective, instills_trust, interpersonal_savvy, manages_ambiguity, manages_conflict, nimble_learning, optimizes_work_processes, persuades, plans_and_aligns, resourcefulness, self_development, situational_adaptability, strategic_mindset, values_differences, result)
        VALUES
        (#{wwid}, #{action_oriented}, #{balances_stakeholders}, #{being_resilient}, #{builds_effective_teams}, #{builds_networks}, #{collaborates}, #{communicates_effectively}, #{courage}, #{cultivates_innovation}, #{customer_focus}, #{decision_quality}, #{develops_talent}, #{directs_work}, #{drives_engagement}, #{drives_results}, #{ensures_accountability}, #{global_perspective}, #{instills_trust}, #{interpersonal_savvy}, #{manages_ambiguity}, #{manages_conflict}, #{nimble_learning}, #{optimizes_work_processes}, #{persuades}, #{plans_and_aligns}, #{resourcefulness}, #{self_development}, #{situational_adaptability}, #{strategic_mindset}, #{values_differences}, #{result})
    </insert>

    <select id="getAllDrivers" resultType="entity.excelEntity.Drivers">
        SELECT * FROM drivers
    </select>

    <insert id="addDDriversScored" parameterType="entity.dimensionScored.DDriversScored" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO d_drivers_scored
        (wwid, balance,challenge,collaboration,independence,power,structure,result)
        VALUES
        (#{wwid}, #{balance},#{challenge},#{collaboration},#{independence},#{power},#{structure},#{result})
    </insert>

    <select id="getAllTraits" resultType="entity.excelEntity.Traits">
        SELECT * FROM traits
    </select>

    <insert id="addDTraitsScored" parameterType="entity.dimensionScored.DTraitsScored" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO d_traits_scored
        (trust, empathy, need_for_achievement, composure, curiosity, optimism, humility, confidence, focus, openness_to_differences, risk_taking, adaptability, wwid, situational_self_awareness, influence, sociability, result, affiliation, persistence, credibility, tolerance_of_ambiguity, assertiveness)
        VALUES
        (#{trust}, #{empathy}, #{need_for_achievement}, #{composure}, #{curiosity}, #{optimism}, #{humility}, #{confidence}, #{focus}, #{openness_to_differences}, #{risk_taking}, #{adaptability}, #{wwid}, #{situational_self_awareness}, #{influence}, #{sociability}, #{result}, #{affiliation}, #{persistence}, #{credibility}, #{tolerance_of_ambiguity}, #{assertiveness})
    </insert>
<!--KF4D-->

<!--Final-->
    <select id="getAllFinalScore" resultType="entity.dimensionScored.FinalScore">
        SELECT compet.wwid, compet.result competencies_score,
        e.result experiences_score,
        t.result traits_score,
        d.result drivers_score
        FROM d_competencies_scored compet
        LEFT JOIN d_experiences_scored e ON compet.wwid = e.wwid
        LEFT JOIN d_traits_scored t ON compet.wwid = t.wwid
        LEFT JOIN d_drivers_scored d ON compet.wwid = d.wwid
    </select>

    <insert id="addFinalScore" parameterType="entity.dimensionScored.FinalScore" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO final_score
        (wwid, competencies_score, experiences_score, traits_score, drivers_score, competencies_and_experiences, traits_and_drivers)
        VALUES
        (#{wwid},#{competencies_score},#{experiences_score},#{traits_score},#{drivers_score},#{competencies_and_experiences},#{traits_and_drivers})
    </insert>

<!--Final-->

<!--ScoreInterval-->
    <insert id="addScoreIntervalDExperiencesInterval" parameterType="entity.ScoreInterval" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO d_experiences_interval
        (name, min, max)
        VALUES
        (#{name},#{min},#{max})
    </insert>

    <insert id="addScoreIntervalDCompetenciesInterval" parameterType="entity.ScoreInterval" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO d_competencies_interval
        (name, min, max)
        VALUES
        (#{name},#{min},#{max})
    </insert>

    <insert id="addScoreIntervalDTraitsInterval" parameterType="entity.ScoreInterval" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO d_traits_interval
        (name, min, max)
        VALUES
        (#{name},#{min},#{max})
    </insert>

    <insert id="addScoreIntervalDDriversInterval" parameterType="entity.ScoreInterval" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO d_drivers_interval
        (name, min, max)
        VALUES
        (#{name},#{min},#{max})
    </insert>

<!--ScoreInterval-->

</mapper>


